{% extends 'base.jinja' %}

{% block title %}{{name}}{% endblock %}

{% block body %}

    <center><img src="{{url_for('static', filename = '{}.jpg'.format(name))}}"  height = 350 width = 700 ></center>

<h1><center>{{name}}</center></h1>
<h2><center>Location: {{location}}</center></h2>
<h2><center>Tuition Fee: {{tuitionfee}}</center></h2>
<h2><center>Students: {{size}}</center></h2>
<h2><center>Matriculation: {{matriculation}}</center></h2>
{# <h2><center>Rank: {{rank}}</center></h2> #}

{% for rank in allrank %}
    <h2><center>{{rank[0]}}: {{rank[1]}}</center></h2>
{% endfor %}

<form method = "post">
        <center><input class="btn btn-outline-secondary" type="submit" id="add" name="add"></center>
        <h5 style="color:red"><center>{{already}}</center></h5>
</form>

{{boardingrank}}





{% endblock %}