<html>
    <head>
        <title> Add pet </title>
    </head>

    <body>
        <form method = "post">
            <input type = "text" name = "name" id = "name" value = "Pet name">
            <input type = "text" name = "species" id = "species" value = "Pet Species">
            <input type = "color" name = "color" id = "color" value = "Yellow">
            <input type = "submit" value = "Send">
            
        </form>


    </body>

</html>