<html>
    <head>
        <title> Pet: {{pet.name}} </title>
    </head>

    <body>
        Hello, I am {{pet.name}}!

        I am {{pet.species}} and I am {{pet.color}}!

        <form method = "post">
            <input type = "submit" value = "Adopt">
        </form>
    </body>

</html>